---
import Layout from "../layouts/Layout.astro";

import { marqueeCards } from "../data/cards";
import Marquee from "../components/Marquee.astro";
import PageIntro from "../components/PageIntro.astro";
---

<Layout title="Dion">
	<PageIntro>
		<h1 class="text-4xl font-extrabold mb-4">Dion</h1>
		<p class="reveal mb-3 text-lg">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius a illum ab
			sed amet libero modi, sint delectus quae maxime, dolores repudiandae
			fugiat, rerum temporibus architecto autem nemo obcaecati dignissimos.
		</p>
		<ul class="reveal list-disc text-lg mb-6">
			<li class="mb-2">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
				cupiditate repudiandae deleniti obcaecati quia aut!
			</li>
			<li class="mb-2">
				Necessitatibus culpa unde nesciunt deleniti numquam, assumenda
				temporibus vitae ut alias consequatur consequuntur consectetur dicta?
			</li>
			<li class="mb-2">
				Odio voluptates aliquam voluptate praesentium, totam id odit maiores
				tempora, laboriosam ullam labore fugit officia.
			</li>
		</ul>
		<a
			class="py-3 px-8 rounded-full text-lg border-2 border-white text-white hover:bg-white hover:text-orange-600 transition-all"
			href="/contact"
		>
			Contact me
		</a>
	</PageIntro>

	<section class="py-8 text-center">
		<h2 class="text-4xl tracking-widest uppercase mb-4">See my work</h2>

		<Marquee cards={marqueeCards.slice(0, marqueeCards.length / 2)} />
		<Marquee
			cards={marqueeCards.slice(marqueeCards.length / 2, marqueeCards.length)}
			direction="right"
		/>

		<a
			class="mt-4 py-3 px-8 rounded-full text-lg border-2 border-black text-black hover:bg-black hover:text-white transition-all"
			href="/portfolio"
		>
			View entire portfolio
		</a>
	</section>
</Layout>
