---
import type { CardProps } from "../types";
import Card from "./Card.astro";

interface Props {
	cards: CardProps[];
}

const { cards } = Astro.props;
---

<div class="[&>*]:mb-4">
	{cards.map((card) => <Card {...card} />)}
</div>
